/build/
/bin/
/obj/
/out/
*.o
*.a
*.lib
*.dll
*.so
*.dylib
*.exe

/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile

*.log
*.tmp
*.swp
*.swo
*.swn
*.bak

.vscode/
.idea/
*.vcxproj
*.vcxproj.filters
*.sln
*.iml

charts/*.sm~
charts/*.dwi~
assets/*.mp3~
assets/*.ogg~

*.dSYM/
*.core
*.pdb
